<!DOCTYPE html>
<html>
<head>
<style>
    .left_college {
        float: left;
        border: 2px;
        border-style: solid;
        margin: 5%;
        padding: 2%;
    }
    .right_student {
        float: right;
        border: 2px;
        border-style: solid;
        margin: 5%;
        padding: 2%;
    }
    table{
        width: 80%;
        text-align: center;
        margin: 0px auto;
    }
    table, th, td {
        border: 1px solid black;
    }
</style>
</head>
    <div class="left_college">
        <p>Nombre: GLOBAL SUITE, S.L.</p>
        <p>Direccion:sdfdsadasDA, ESPAÑA</p>
        <p>CIF:asdfsaddsa</p>
        <p>Teléfono: asdfsdfsad</p>
        <p>eMail:isdfasdfasuites.com</p>
        <p>IBAN:Esafsdfsa83180</p>
    </div>
    <div class="right_student">
        <p>Nombre: antonio</p>
        <p>DNI:safsad</p>
        <p>eMail:safsafasfdites.com</p>
    </div>
    <table>
      <tr>
        <th>Factura Id</th>
        <th>Fecha pago</th>
        <th>numero de tarjeta</th>
        <th>Propietario de tarjeta</th>
        <th>Import</th>

      </tr>
      <tr>
        <td>1</td>
        <td>2017-01-07 18:29:58</td>
        <td>4929604327354675</td>
        <td>Antoniodfasdfasdfsdfa</td>
        <td>500€</td>
      </tr>
    </table>

    <p> Nota: La tenencia de esta factura no acredita el pago de la misma</p>
</html>
